<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add books</title>
  </head>
  <body>
    <form action="{{ url_for('addbooks') }}" method="post">
      <div> {{msg}}</div>
      <input type="text" name="ISBN_number" placeholder="Enter ISBN_number" class="textbox" id="ISBN_number" required><br><br>
      <input type="number" name="copy_number" placeholder="Enter number of copies" class="textbox" id="copy_number" required><br><br>
      <input type="date" name="publication_year" placeholder="Enter publication year" class="textbox" id="publication_year" required><br><br>
      <input type="text" name="subject" placeholder="Enter Subject" class="textbox" id="subject" required><br><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
