<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add User</title>
  </head>
  <body>
    <form action="url_for('adduser')" method="post" autocomplete = 'off'>
      <div> {{msg}}</div>
      <input type="number" name="user_id" placeholder="Enter User ID" class="textbox" id="user_id" required><br><br>
      <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required><br><br>
      <input type="text" name="address" placeholder = "Enter address" class= "textbox" id ="address" required><br><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
