<html lang="en">
    <head>
        <title>display</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="one">
            <div class="content" align="center">  <br>
                <div class="">
                    <h1>My shelf</h1>    <br>
                     {% block content %}
                        <div class="">
                            <table class="worddark"><br>
                                {% for book in books %}
                            <p>    <tr>
                                    <td><h2>ISBN number:  </h2></td>
                                    <td><h2>{{ book['ISBN_number'] }}</h2></td>
                                </tr>
                                <tr>
                                    <td><h2>title:  </h2></td>
                                    <td><h2>{{ book['title'] }}</h2></td>
                                </tr>
                            
                                <tr>
                                    <td><h2>subject:  </h2></td>
                                    <td><h2>{{ book['subject'] }}</h2></td>
                                </tr></p>
                                <br><br>
                                {% endfor %}

                            </table>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
