<html>
    <head>
        <meta charset="UTF-8">
        <title> order_books</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body  style="background-image:url('../static/hospit.jpg')">
      <br><br><br>
        <div class="logincontent" align="center">
            <div class="logintop">
                <h1>Order books</h1>
            </div>
            <br>
            <div class="loginbottom">
              <form action="{{ url_for('order_books')}}" method="post" autocomplete="off"><br>
            <div class="msg">{{ msg }}</div>
            <input type="text" name="ISBN_number" placeholder="Enter ISBN number" class="textbox" id="mail_id" required><br><br>
            <input type="text" name="status" placeholder="Enter status" class="textbox" id="passwd" required><br>

            <input type="submit" class="btn" value="order">
              </form>
              <br>
              <br>

        </div>
    </body>
</html>
