<html lang="en">
    <head>
        <title>check_my_shelf</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
    <div class="one">
        <div class="content" align="center">  <br>
            <div class="contentbar">
                <h1>Your recommendations</h1>    <br>
                {{ msg }}
                 {% block content %}
                    <div class="border">
                        <table class="worddark"><br>
                            {% for recommended_book in recommended_books %}
                            <tr>
                                <td><h2>ISBN number:  </h2></td>
                                <td><h2>{{ recommended_book['title'] }}</h2></td>
                            </tr>
                            <tr>
                                <td><h2>title:  </h2></td>
                                <td><h2>{{ recommended_book['ISBN_number'] }}</h2></td>
                            </tr>
                            <tr>
                                <td><h2>publication_year:  </h2></td>
                                <td><h2>{{ recommended_book['subject'] }}</h2></td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
